a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}


@media (max-aspect-ratio: 12/10 ) {
.portrait { display: block; }
.landscape { display: none; }
}
@media (min-aspect-ratio: 12/10) {
.portrait { display: none; }
.landscape { display: block; }
}


html, body {
  max-width: 600px;
  height: 100vh;
  margin: 0;
  font-family: helvetica, arial, sans-serif;
}

/* HyperWeather */

#currently .temperature {
  display: inline-block;
  font-size: 60px;
}

.celsius,
.fahrenheit {
  -webkit-tap-highlight-color: transparent;
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  -ms-box-orient: horizontal;
  display: flex;
}

.center { 
  -webkit-justify-content: center; 
  justify-content: center; 
}  

.space-between { 
  -webkit-justify-content: space-between; 
  justify-content: space-between; 
}

.today {
  font-weight: bold;
}

#links {
  margin: auto;
}


.flex-vertical {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.flex-item {
  flex-basis: auto;
}

.flex-top {
  flex-basis: auto;
  /* border: 1px solid green; */
}
.flex-bottom {
  flex-grow: 1;
  /* border: 1px solid green; */
}

.location {
  margin: 15px;
}

hr {
  width: 98%;
  margin-left: 0;
  margin-right: 0;
}

.hidden {
  display: none;
}

.view {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  padding: 8;
}

.weather-data .close {
  position: fixed;
  top: 10; right: 25;
}

.view.weather-data {
  background-color: white;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.weather-data .data {
    height: calc(100% + 1px);
}

.about {
  margin: 10;
}

.about .link {
  margin: 5;
}

.about h1 {
  margin-top: 5;
  margin-bottom: 2;
}

.about h2,
.about h3 {
  margin-top: 2;
}


#currently div.icon {
  width: 64px;
  height: 64px;
  display: inline-block;
}

div.icon {
  margin-bottom: 0px;
  min-width: 40px;
}

.icon {
    width: 40px;
    height: 40px;
}

div.icon img,
.icon img {
    width: 100%;
    object-fit: contain;
}

.template .icon {
    margin: auto;
}
